# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [1]:
print('Eu sou Minerador de Dados!')

Eu sou Minerador de Dados!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [2]:
soma  = 10 + 10
soma

20

In [3]:
subtracao = 10 - 5
subtracao

5

In [4]:
multiplicacao = 5 * 2
multiplicacao

10

In [5]:
divisao = 10 / 5
divisao

2.0

3) Imprima o tipo de um determinado valor inteiro.

In [6]:
type(10)

int

4) Converta o valor passado anteriormente para o tipo float

In [7]:
float(10)

10.0

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [8]:
str(10)

'10'

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [9]:
round(2.898)

3

In [10]:
round(2.4545455,4)

2.4545

7) Utilizando variáveis faça:

- Defina uma variável com o seu nome e imprima o seu valor.

In [11]:
nome = 'Robson'
print(nome)

Robson

- Imprima o tipo dessa variável.

In [12]:
type(nome)

str

- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.

In [13]:
nome  = nome + ' Henrique'
print(nome)

Robson Henrique

- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [14]:
email, idade = 'robsonpiere@outlook.com', 27
print(email)
print(idade)

robsonpiere@outlook.com
27

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

In [15]:
break = 10

SyntaxError: invalid syntax (<ipython-input-15-9f64e1454aa4>, line 1)

A palavra **break** é uma palavra reservada, e tentar utilizar como um nome de variável irá gerar um erro de sintaxe

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima

In [16]:
maldicao = 'Python é uma maldição!'

- Imprima o primeiro caracter da variavel.

In [17]:
print(maldicao[0])

P

- Imprima os valores do primeiro caracter até o 6.

In [18]:
print(maldicao[0:6])

Python

- Faça a contagem de todos os caracteres utilizando uma única linha de comando.

In [19]:
len(maldicao)

22

- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."

In [20]:
dados = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
dados.count('dados')

2

- Substitua o primeiro caracter da frase acima para maiúsculo

In [21]:
dados.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..'

- Quebre as palavras da frase separado por virgula, criando uma lista.

In [22]:
lista_1 = dados.split()
lista_1

['dados',
 'é',
 'o',
 'novo',
 'petróleo,',
 'em',
 'Deus',
 'eu',
 'confio,',
 'para',
 'o',
 'resto',
 'me',
 'traga',
 'dados..']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.

In [23]:
idades = [40,32,24,78,16,21,18,90,40,17,10,2,1,30]

- Imprima apenas segundo elemento da lista.

In [24]:
idades[1]

32

- Imprima a contagem de valores da lista.

In [25]:
len(idades)

14

In [26]:
sum(idades)

419

- Substitua o valor do segundo elemento da lista e imprima o resultado.

In [27]:
idades[1] = 15
idades

[40, 15, 24, 78, 16, 21, 18, 90, 40, 17, 10, 2, 1, 30]

- Imprima apenas os valores do segundo elemento em diante.

In [28]:
idades[1:]

[15, 24, 78, 16, 21, 18, 90, 40, 17, 10, 2, 1, 30]

- Remova qualquer elemento da lista e imprima o resultado.

In [29]:
del idades[5]
idades

[40, 15, 24, 78, 16, 18, 90, 40, 17, 10, 2, 1, 30]

- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.

In [30]:
salarios = [900,1200,1500,800,12587,10000]
salarios

[900, 1200, 1500, 800, 12587, 10000]

- Verifique se contém o valor 10000 na lista de salarios.

In [31]:
if(1000 in salarios):
    print("Contém")
else:
    print("Não contém")

Não contém

- Imprima o menor e maior valor da lista.

In [32]:
max(salarios)

12587

In [33]:
min(salarios)

800

- Adicione o valor 7000 a lista.

In [34]:
salarios.append(7000)
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000]

- Extenda a lista com dois novos elementos utilizando apenas um método.

In [35]:
salarios.extend([5000,4000])
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000, 5000, 4000]

- Imprima o índice do elemento de valor 800 da lista de salarios.

In [36]:
salarios.index(800)

3

- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [37]:
salarios.sort()
salarios

[800, 900, 1200, 1500, 4000, 5000, 7000, 10000, 12587]

In [38]:
salarios.sort(reverse = True)
salarios

[12587, 10000, 7000, 5000, 4000, 1500, 1200, 900, 800]